- hosts: production
  vars:
    authorized_keys:
      # - key1
      # - key2
    vswitches:
      - name: tc-k8s-net  # vSwitch name, used for naming the routing table.
        routing_table: 1  # ID for the routing table.
        vlan: 4000  # VLAN ID for the vSwitch. 4000-4091 supported by Hetzner.
        gateway: 33.33.33.33  # If the vSwitch has a subnet, this variable should contain the subnet's gateway IP address
        addresses:  # IP addresses for the vSwitch network interface (per host)
          - "{{ hostvars[inventory_hostname]['ip'] }}/24"
        subnets:  # Subnets available on the vSwitch (need to be registered with Hetzner robot) for non-private networks
          - subnet: 33.33.33.32/29
    custom_packages:
      - htop
  roles:
    - access
    - packages
    - matthiaslohr.hvswitch_k8s
    # - custom_monitor

- hosts: kube-master
  roles:
    - thorchain

- import_playbook: kubespray/cluster.yml

- hosts: kube-master[0]
  strategy: linear
  vars:
    address_range:
      - 33.33.33.34-33.33.33.37
  roles:
    - storage
    - load_balancing
