all:
  children:
    environment:
      hosts:
        node1:
          ansible_host: 11.22.33.44
          etcd_member_name: node1
          ip: 10.10.10.11
        node2:
          ansible_host: 22.33.44.55
          etcd_member_name: node2
          ip: 10.10.10.12
        node3:
          ansible_host: 33.44.55.66
          etcd_member_name: node3
          ip: 10.10.10.13
      vars:
        main_user: username
        ansible_ssh_user: username
        ansible_become_pass: user_password
        root_pass: root_password
        pw_salt: salt
        context: environment
        authorized_keys:
          # - key1
          # - key2
        hetzner:
          command: "/root/.oldroot/nfs/install/installimage -a -r no -i images/Ubuntu-1804-bionic-64-minimal.tar.gz -p /:ext4:all -d nvme0n1 -f yes -t yes -n hostname"
          # os:  # optional
          # arch:  # optional
        vswitches:
          - name: tc-k8s-net  # vSwitch name, used for naming the routing table.
            routing_table: 1  # ID for the routing table.
            vlan: 4000  # VLAN ID for the vSwitch. 4000-4091 supported by Hetzner.
            subnets: [{subnet: 33.33.33.32/29}]
            gateway: 33.33.33.33  # If the vSwitch has a subnet, this variable should contain the subnet's gateway IP address
            range: [33.33.33.34-33.33.33.37]
            addresses: ["{{ hostvars[inventory_hostname]['ip'] }}/24"]  # IP addresses for the vSwitch network interface (per host)
        custom_packages:
          - htop
        custom_roles:
          # - custom_monitor
    etcd:
      hosts:
        node1: {}
        node2: {}
        node3: {}
    k8s-cluster:
      children:
        calico-rr: {}
        kube-master:
          hosts:
            node1: {}
            node2: {}
            node3: {}
        kube-node:
          hosts:
            node1: {}
            node2: {}
            node3: {}
    ungrouped: {}
